{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <h3>Home</h3>

    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-4">
                <h3>What should I listen to?</h3>
                <form action="/random" method="post">
                    <div class="mb-3">
                        <select class="form-select mx-auto w-auto" name="artist">
                            <option disabled selected>Artist</option>
                            {% for artist_choice in artist_choices %}
                            <option value="{{ artist_choice["artist"] }}">{{ artist_choice["artist"] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <select class="form-select mx-auto w-auto" name="genre">
                            <option disabled selected>Genre</option>
                            {% for genre_choice in genre_choices %}
                            <option value="{{ genre_choice["genre"] }}">{{ genre_choice["genre"] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <select class="form-select mx-auto w-auto" name="year">
                            <option disabled selected>Decade</option>
                            {% for year_choice in year_choices %}
                            <option value="{{ year_choice["decade"] }}">{{ year_choice["decade"] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-primary mb-5" type="submit">Submit</button>
                </form>
            </div>
            <div class="col-4">
                <h3>Add new album</h3>
                <div class="mb-3">
                    <form action="/upload" method="post">
                        <input class="mb-3" autocomplete="off" id="album" name="album" placeholder="Album" type="text">
                        <input class="mb-3" autocomplete="off" id="artist" name="artist" placeholder="Artist" type="text">
                        <input class="mb-3" autocomplete="off" id="year" name="year" placeholder="Year" type="integer">
                        <select class="form-select mb-3" name="genre">
                            <option disabled selected>Genre</option>
                            <option value="Alternative">Alternative</option>
                            <option value="Classical">Classical</option>
                            <option value="Country">Country</option>
                            <option value="Folk">Folk</option>
                            <option value="Holiday">Holiday</option>
                            <option value="Jazz">Jazz</option>
                            <option value="Pop">Pop</option>
                            <option value="Rap">Rap</option>
                            <option value="Rock">Rock</option>
                            <option value="Soul">Soul</option>
                            <option value="Soundtrack">Soundtrack</option>
                        </select>
                        <button class="btn btn-primary" type="submit" value="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="mx-5">
        <h3>Collection</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Album</th>
                    <th class="text-start">Artist</th>
                    <th class="text-start">Year</th>
                    <th class="text-start">Genre</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through the table entries to display them in this table -->
                {% for library in libraries %}
                <tr>
                    <td class="text-start">{{ library.album }}</td>
                    <td class="text-start">{{ library.artist }}</td>
                    <td class="text-start">{{ library.year }}</td>
                    <td class="text-start">{{ library.genre }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-end fw-bold" colspan="3">Albums</td>
                    <td class="text-start">{{ count }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}