/* Size for brand */
nav .navbar-brand
{
    font-size: large;
}

/* Colors for brand */
/* https://coolors.co/palette/cdb4db-ffc8dd-ffafcc-bde0fe-a2d2ff */
nav .navbar-brand .pink1
{
    color: #ffafcc;
}
nav .navbar-brand .pink2
{
    color: #ffc8dd;
}
nav .navbar-brand .violet
{
    color: #cdb4db;
}
nav .navbar-brand .blue1
{
    color: #a2d2ff;
}
nav .navbar-brand .blue2
{
    color: #bde0fe;
}