{% extends "layout.html" %}

{% block title %}
    Counter
{% endblock %}

{% block main %}

    <div>
        Add to listening history:
    </div>

    <form action="/counter" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="album">
                <option disabled selection>Album</option>
                {% for album in albums %}
                <option value="{{ album["album"] }}">{{ album["album"] }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary mb-5" type="submit">Submit</button>
    </form>

    <div>
        Listening history:
    </div>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Album</th>
                    <th class="text-start">Count</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop -->
                {% for count in counts %}
                <tr>
                    <td class="text-start">{{ count.album }}</td>
                    <td class="text-start">{{ count.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}