{% extends "layout.html" %}

{% block title %}
    Stats
{% endblock %}

{% block main %}

    <div class="mx-5">
        <h3>Genres</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Genre</th>
                    <th class="text-start">Count</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through -->
                {% for stat in stats %}
                <tr>
                    <td class="text-start">{{ stat.genre }}</td>
                    <td class="text-start">{{ stat.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-end fw-bold">Total:</td>
                    <td class="text-start">{{ count }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="mx-5">
        <h3>Top Artists</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Artist</th>
                    <th class="text-start">Count</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through -->
                {% for artist in artists %}
                <tr>
                    <td class="text-start">{{ artist.artist }}</td>
                    <td class="text-start">{{ artist.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-end fw-bold">Total:</td>
                    <td class="text-start">{{ artist_count }}</td>
                </tr>
            </tfoot>
        </table>
    </div>


{% endblock %}