{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
<h3 class="mb-3">Add album</h3>
<div class="mx-5 mb-3">
    <form action="/upload" method="post">
        <input autocomplete="off" id="album" name="album" placeholder="Album" type="text">
        <input autocomplete="off" id="artist" name="artist" placeholder="Artist" type="text">
        <input autocomplete="off" id="year" name="year" placeholder="Year" type="integer">
        <select class="form-select mb-3 mx-5" name="genre">
            <option disabled selected>Genre</option>
            <option value="Alternative">Alternative</option>
            <option value="Classical">Classical</option>
            <option value="Country">Country</option>
            <option value="Folk">Folk</option>
            <option value="Holiday">Holiday</option>
            <option value="Jazz">Jazz</option>
            <option value="Pop">Pop</option>
            <option value="Rap">Rap</option>
            <option value="Rock">Rock</option>
            <option value="Soul">Soul</option>
            <option value="Soundtrack">Soundtrack</option>
        </select>
        <button class="btn btn-primary" type="submit" value="submit">Submit</button>
    </form>
</div>
{% endblock %}